<ng-container *ngIf="mangphim">
    <div class=" container animated fadeIn ">
        <div class="row show-movie">
            <div class="col-6 text-center ">
                <img [src]="mangphim.hinhAnh">
            </div>
            <div class=" col-6">

            </div>
        </div>
        <div>
            <ul class="nav nav-pills ">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#home_chi-tiet" (click)="reset()">Lịch chiếu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#menu1_chi-tiet" (click)="reset()">Thông tin </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#menu2_chi-tiet" (click)="reset()">Đánh giá</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">

                <div class="tab-pane container active" id="home_chi-tiet">
                    <app-lichchieu></app-lichchieu>
                </div>

                <div class="tab-pane container fade show" id="menu1_chi-tiet">
                    <app-thongtin></app-thongtin>
                </div>
                <div class="tab-pane container fade show" id="menu2_chi-tiet">
                    <app-danh-gia></app-danh-gia>
                </div>
            </div>
        </div>
    </div>
</ng-container>