.user{
    i{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: rgba(125, 122, 122, 0.8);
        color: white;
        text-align: center;
        line-height: 35px;
        font-size: 30px;
        margin-right: 10px;
        margin-top:-5px;
    }
    p{
        padding: 0 10px;
        margin: 3px;
    }
}
.danhgia-comment{
    border: 1px solid orange;
    width: 600xp;
    height: 50px;
    padding: 10px 20px;
    cursor: pointer;
    .Danhgia_icon{
        color: rgba($color: #fe7900, $alpha: 0.5)
    }
}
.modal-backdrop{
    position: fixed;
}
.body.modal-open{
    overflow: hidden;
}