<div class="col-10 mx-auto thongtin">
    <div class="row chitiet_content-thongtin">
        <div class="col-5">
            <div class="row">
                <div class="col-5">
                    <h1>Tên Phim:</h1>
                </div>
                <div class="col-7">
                    <p>{{movie.tenPhim}}</p>
                </div>
                <div class="col-5">
                    <h1>Ngày Phát Hành:</h1>
                </div>
                <div class="col-7">
                    <p>{{movie.ngayKhoiChieu | date:"dd-MM-yyyy"}}</p>
                </div>
                <div class="col-5">
                    <h1>Thời lượng:</h1>
                </div>
                <div class="col-7">
                    <p>120 phút</p>
                </div>
                <div class="col-5">
                    <h1>Thể Loại:</h1>
                </div>
                <div class="col-7">
                    <p>Phiêu liêu, hài hước</p>
                </div>
                <div class="col-5">
                    <h1>Quốc Gia:</h1>
                </div>
                <div class="col-7">
                    <p>Mỹ</p>
                </div>
                <div class="col-5">
                    <h1>Định dạng:</h1>
                </div>
                <div class="col-7">
                    <p>2D/3D</p>
                </div>
            </div>
        </div>
        <div class="col-7">
            <h1>Nội dung</h1>
            <p>{{movie.moTa}}</p>
        </div>
    </div>
</div>