.over-lay-dangnhap{
  height: 1200px;
  width: 100%;
  top: 0px;
  left: 0;
  z-index:1000;
  position: fixed;
  background: rgba($color: #000000, $alpha: 0.7);
  overflow: none;

  .dangnhap{
    width: 350px;
    height: 150px;
    position: fixed;
    top: 231px;
    left: 507px;
    z-index: 1100;
    background: white;
    padding-top: 30px;
    text-align: center;
    border-radius: 10px;
    p{
      margin: 0;
      font-size: 20px;
    }
    i{
      position: absolute;
      top:15px;
      right: 15px;
      cursor: pointer;
    }
    button{
      border-radius: 20px;
      background-color: #fff;
      color: #3b5b99;
      border: 1.2px solid #3b5b99;
      width: fit-content;
      padding: 7px 20px;
      text-align: center;
      margin:30px;
      &:hover{
        background-color: #3b5b99;
        color: white;
      }
    }
  }
  
}
.News {
  width: 60%;
  margin: 0 auto;
  margin-top: 99px;
  .News-icon {
    i {
      margin: 10px 40px 25px 0px;
      font-size: 20px;
      opacity: 0.5;
      transition: all 0.2s;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
        opacity: 0.6;
      }
    }
  }
}

.like {
  color: blue;
}
