.next {
    animation: bounceInRight 1.5s ease;
}

.pre {
    animation: bounceInLeft 1.5s ease;
}

.now-play-show {
    width: 850px;
    max-height: 800px;
    margin: 0 auto;
}

i{
    position: absolute;
    top: 450px;
    font-size: 35px;
 
    transition: all 0.5s;
    cursor: pointer;
    &:hover{
        color: #fe7900;
    }
}
.fa-chevron-left {
    left: 100px;
    &:hover{
        left: 110px;
        
    }
}
.fa-chevron-right {
    right: 100px;
    &:hover{
        right: 110px;
    }
}