<div *ngFor="let item of lichChieuPhim" class="dateMovie">
    <div class="wrapInfo">
        <div class="tenCumRap">{{item.tenCumRap}}</div>
        <div class="diaChi">{{item.diaChi}}</div>
    </div>
    <div class="d-flex">
        <img class="mr-3" [src]="img2D" alt="" style="width: 30px; height: 30px">
        <div class="ngayChieu">
            <a *ngFor="let item1 of item.lichChieu" (click)="datVe(item1.maLichChieu)">
                {{item1.ngayChieuGioChieu | date: "HH:mm"}}
            </a>
        </div>
    </div>
</div>