<header class="movie-header">
  <nav class="navbar navbar-expand-lg">
    <a routerLink="/" class="navbar-brand py-0"><img src="assets/img/Capture.PNG" alt="" height="60px" /></a>
    <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="trangChu(header)">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="lichChieu()">Lịch chiếu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="cumRap()">Cụm rạp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="tinTuc()">Tin tức</a>
        </li>
      </ul>
    </div>
    <div class="site mr-2" *ngIf="status">
      <i class="fa fa-user-circle mr-1"></i>
      <span>Xin chào: {{info.taiKhoan | titlecase}}</span>
    </div>
    <div class="login d-flex mr-2">
      <div *ngIf="!status" class="username">

        <button (click)="test()">Đăng nhập</button>
      </div>
      <div *ngIf="status" class="username">
        <a (click)="dangxuat()">Đăng xuất</a>
      </div>
    </div>

  </nav>
</header>