<header class="movie-header ">
  <nav class="navbar navbar-expand-lg">
    <a routerLink="/" class="navbar-brand py-0"
      ><img src="assets/img/Capture.PNG" alt="" height="80px" 
    /></a>
    <button
      class="navbar-toggler"
      data-target="#my-nav"
      data-toggle="collapse"
      aria-controls="my-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">HOME </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MOVIE LAYOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PAGE SINGLE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SHOWTIME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BOOK TICKET</a>
        </li>
      </ul>
    </div>
    <div class="site mr-2" *ngIf="status">
        <i class="fa fa-user-circle mr-1"></i>
        <span>xin chào: {{info.hoTen}}</span>
      </div>
    <div class="login d-flex mr-2">
      <div *ngIf="!status" class="username">
       
        <a href="#" routerLink="/dang-nhap">Đăng nhập</a>
      </div>
      <div *ngIf="status" class="username">
          <a href="#" routerLink="" (click)="dangxuat()">Đăng xuất</a>
        </div>
    </div>
   
  </nav>
</header>
