
.dashboard {
  background-color: #d8e0e4;
  height: 900px;
  // overflow-x: hidden;
  .admin-content {
    padding-top: 100px;
    height: 700px;
    .tab-link {
      background-color: #ffffff;
      padding: 20px;
    }
    .tab-pane {
      background: #fff;
      height: 800px;
    }
  }
}
.show {
  transform: translateX(1);
  transition: all 0.5s;
}
.hidden {
  transform: translateX(-330px);
  transition: all 0.5s;
  position: absolute;
}
.show-max {
  width: 95%;
  transition: all 1s;
  margin: 0 auto;
}

