.dashboard {
  background-color: #d8e0e4;
  height: 800px;
  .admin-content {
    padding-top: 100px;
    height: 800px;
    .tab-link {
      background-color: #ffffff;
      padding: 20px;
    }
  }
}
.show {
  transform: translateX(0);
  // transition: all 0.5s;
}
.hidden {
  transform: translateX(-330px) rotateY(180deg);
  transition: all 0.5s;
  position: absolute;
}
.show-max {
  width: 90%;
  // transition: all 0.5s;
  margin: 0 auto;
}
