<div class="dashboard">
  <app-admin-header (eventdetail)="chitiet($event)"></app-admin-header>
  <div class="row admin-content">
    <div
      class="col-3 tab-link "
      [ngClass]="{ show: animate, hidden: !animate }"
    >
      <div
        class="nav flex-column nav-pills"
        id="v-pills-tab"
        role="tablist"
        aria-orientation="vertical"
      >
        <a
          class="nav-link active"
          id="v-pills-home-tab"
          data-toggle="pill"
          href="#v-pills-tabContent"
          role="tab"
          aria-controls="v-pills-home"
          aria-selected="true"
          >Home</a
        >
        <a
          class="nav-link"
          id="v-pills-profile-tab"
          data-toggle="pill"
          href="#v-pills-profile"
          role="tab"
          aria-controls="v-pills-profile"
          aria-selected="false"
          >Quản Lý người Dùng</a
        >
        <a
          class="nav-link"
          id="v-pills-messages-tab"
          data-toggle="pill"
          href="#v-pills-messages"
          role="tab"
          aria-controls="v-pills-messages"
          aria-selected="false"
          >Quản Lý Tin Tức</a
        >
        <a
          class="nav-link"
          id="v-pills-settings-tab"
          data-toggle="pill"
          href="#v-pills-settings"
          role="tab"
          aria-controls="v-pills-settings"
          aria-selected="false"
          >Quan LÝ Phim</a
        >
      </div>
    </div>
    <div [ngClass]="{ 'show-max': !animate, 'col-10': animate }">
      <div class="tab-content" id="v-pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="v-pills-home"
          role="tabpanel"
          aria-labelledby="v-pills-home-tab"
        ></div>
        <div
          class="tab-pane fade"
          id="v-pills-profile"
          role="tabpanel"
          aria-labelledby="v-pills-profile-tab"
        >
          <app-quan-ly-nguoi-dung
            (event)="capNhatNguoiDung($event)"
            (them)="themNguoiDung($event)"
            (sua)="suaNguoiDung($event)"
          ></app-quan-ly-nguoi-dung>
        </div>
        <div
          class="tab-pane fade"
          id="v-pills-messages"
          role="tabpanel"
          aria-labelledby="v-pills-messages-tab"
        >
          <app-quan-ly-tin-tuc></app-quan-ly-tin-tuc>
        </div>
        <div
          class="tab-pane fade"
          id="v-pills-settings"
          role="tabpanel"
          aria-labelledby="v-pills-settings-tab"
        >
          <app-quan-ly-phim></app-quan-ly-phim>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="modalLoginForm"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4
          *ngIf="trangThai === true"
          class="modal-title w-100 font-weight-bold"
        >
          Đăng ký
        </h4>
        <h4
          *ngIf="trangThai === false"
          class="modal-title w-100 font-weight-bold"
        >
          Cập nhật
        </h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form #formSignUpAdmin="ngForm">
          <div class="form-group">
            <label for="">Tài Khoản</label>
            <input
              type="text"
              #taiKhoan="ngModel"
              required
              name="taiKhoan"
              ngModel
              class="form-control"
            />
            <p
              class="alert alert-danger"
              *ngIf="
                taiKhoan?.errors?.required &&
                (taiKhoan.dirty || taiKhoan.touched || formSignUp.submitted)
              "
            >
              Vui lòng nhập tài khoản
            </p>
          </div>
          <div class="form-group">
            <label for="">Mật Khẩu</label>
            <input
              type="text"
              #matKhau="ngModel"
              required
              minlength="8"
              maxlength="16"
              name="matKhau"
              ngModel
              class="form-control"
            />
            <p
              class="alert alert-danger"
              *ngIf="
                matKhau?.errors?.required && (matKhau.dirty || matKhau.touched)
              "
            >
              Vui lòng nhập mật khẩu
            </p>
            <p
              class="alert alert-danger"
              *ngIf="matKhau?.errors?.minlength || matKhau?.errors?.maxlength"
            >
              Mật khẩu phải có từ 8-16 kí tự
            </p>
          </div>
          <div class="form-group">
            <label for="">Họ Tên: </label>
            <input
              type="text"
              pattern="^[A-Za-z ]+$"
              #hoTen="ngModel"
              name="hoTen"
              ngModel
              class="form-control"
            />
            <p class="alert alert-danger" *ngIf="hoTen?.errors?.pattern">
              Họ tên phải là chữ
            </p>
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input
              type="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
              name="email"
              ngModel
              class="form-control"
            />
            <p
              class="alert alert-danger"
              *ngIf="
                email?.errors?.required &&
                (email.dirty || email.touched || formSignUp.submitted)
              "
            >
              Vui lòng nhập tài khoản
            </p>
            <p class="alert alert-danger" *ngIf="email?.errors?.pattern">
              Email không hợp lệ
            </p>
          </div>
          <div class="form-group">
            <label for="">Số ĐT</label>
            <input type="text" name="soDT" ngModel class="form-control" />
          </div>
          <div class="form-group">
            <button
              *ngIf="trangThai === true"
              class="btn btn-default"
              type="submit"
              (click)="_handleOnSubmit()"
            >
              Thêm người dùng
            </button>
            <button
              *ngIf="trangThai === false"
              class="btn btn-default"
              type="submit"
              (click)="_updateUser(formSignUpAdmin)"
              data-dismiss="modal"
            >
              Cập nhật
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
