<div *ngIf="dangnhap">
  <div class="over-lay-dangnhap">

      <div class="dangnhap">
          <p>Đăng kí thành công</p>
          <p>bạn muốn về trang chủ</p>
          <i class="fa fa-times" (click)="close()"></i>
          <button class="btn" (click)="chuyentrang()"> Đồng ý </button>
      </div>
  </div>
</div>
<div class="container animated fadeIn delay-1s dangky">
  <div class="row">
    <div class="col-8 mx-auto mt-5">
      <!-- Material form register -->
      <mdb-card>
        <mdb-card-header class="info-color white-text text-center py-4">
          <h5>
            <strong>Sign up</strong>
          </h5>
        </mdb-card-header>

        <!--Card content-->
        <mdb-card-body class="px-lg-5 pt-0">
          <!-- Form -->
          <form class="text-center" style="color: #757575;" #formSignUp="ngForm"
            (submit)="_handleOnSubmit(formSignUp.value)">
            <div class="form-row">
              <div class="col">
                <!-- Last name -->
                <div class="md-form">
                  <input type="text" id="materialRegisterFormLastName" class="form-control" mdbInput #hoTen="ngModel"
                    required name="hoTen" ngModel />
                  <label for="materialRegisterFormLastName">Họ tên</label>
                  <small style="color: #ec2727 !important" id="materialRegisterFormLastName"
                    class="form-text text-muted mb-4" *ngIf="
                    hoTen?.errors?.required &&
                  (hoTen.dirty ||
                  hoTen.touched ||
                    formSignUp.submitted)
                ">
                    * Vui lòng nhập họ tên
                  </small>
                </div>
              </div>
            </div>

            <!-- E-mail -->
            <div class="md-form mt-0">
              <input type="text" id="materialRegisterFormTaiKhoan" class="form-control" mdbInput #taiKhoan="ngModel"
                required name="taiKhoan" ngModel />
              <label for="materialRegisterFormTaiKhoan">Tài khoản</label>
              <small style="color: #ec2727 !important" id="materialRegisterFormTaiKhoan"
                class="form-text text-muted mb-4" *ngIf="
              taiKhoan?.errors?.required &&
              (taiKhoan.dirty || taiKhoan.touched || formSignUp.submitted)
            ">
                * Vui lòng nhập tài khoản
              </small>
            </div>

            <!-- Password -->
            <div class="md-form">
              <input type="password" id="materialRegisterFormPassword" class="form-control"
                aria-describedby="materialRegisterFormPassword" mdbInput #matKhau="ngModel" required minlength="8"
                maxlength="16" name="matKhau" ngModel />
              <label for="materialRegisterFormPassword">Mật khẩu</label>
              <small style="color: #ec2727 !important" id="materialRegisterFormPassword"
                class="form-text text-muted mb-4" *ngIf="
                  matKhau?.errors?.required &&
                  (matKhau.dirty || matKhau.touched)
                ">
                * Vui lòng nhập mật khẩu
              </small>
              <small *ngIf="matKhau?.errors?.minlength || matKhau?.errors?.maxlength" id="materialRegisterFormPassword"
                class="form-text text-muted mb-4">
                * Mật khẩu phải có từ 8-16 kí tự
              </small>
            </div>

            <!-- Phone number -->
            <div class="md-form">
              <input type="email" class="form-control" name="email" mdbInput ngModel #email="ngModel" required />
              <label for="materialRegisterFormEmail">Email</label>
              <small *ngIf="
              email?.errors?.required &&
              (email.dirty || email.touched)
            " style="color: #ec2727 !important" id="materialRegisterFormEmail" class="form-text text-muted mb-4">
                * Vui lòng nhập Email
              </small>
            </div>
            <div class="md-form">
              <input type="text" class="form-control" name="soDt" mdbInput ngModel #soDt="ngModel" required />
              <label for="materialRegisterFormSoDT">Số điện thoại</label>
              <small *ngIf="
              soDt?.errors?.required &&
              (soDt.dirty || soDt.touched)
            " style="color: #ec2727 !important" id="materialRegisterFormSoDT" class="form-text text-muted mb-4">
                * Vui lòng nhập số điện thoại
              </small>
            </div>


            <!-- Newsletter -->
            <mdb-checkbox>Subscribe to our newsletter</mdb-checkbox>

            <!-- Sign up button -->
            <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
              mdbWavesEffect type="submit">
              Sign in
            </button>

            <!-- Social register -->
            <p>or sign up with:</p>

            <a type="button" class="light-blue-text mx-2">
              <mdb-icon fab icon="facebook"></mdb-icon>
            </a>
            <a type="button" class="light-blue-text mx-2">
              <mdb-icon fab icon="twitter"></mdb-icon>
            </a>
            <a type="button" class="light-blue-text mx-2">
              <mdb-icon fab icon="linkedin"></mdb-icon>
            </a>
            <a type="button" class="light-blue-text mx-2">
              <mdb-icon fab icon="heart"></mdb-icon>
            </a>

            <hr />

            <!-- Terms of service -->
            <p>
              By clicking <em>Sign up</em> you agree to our
              <a href="" target="_blank">terms of service</a>.
            </p>
          </form>
          <!-- Form -->
        </mdb-card-body>
      </mdb-card>
      <!-- Material form register -->
    </div>
  </div>
</div>