.dangky {
  margin-top: 99px;
}
.over-lay-dangnhap{
  height: 1200px;
  width: 100%;
  top: 0px;
  left: 0;
  z-index:1000;
  position: fixed;
  background: rgba($color: #000000, $alpha: 0.7);
  overflow: none;

  .dangnhap{
    width: 350px;
    height: 150px;
    position: fixed;
    top: 231px;
    left: 507px;
    z-index: 1100;
    background: wheat;
    padding-top: 30px;
    text-align: center;
    border-radius: 10px;
    p{
      margin: 0;
      font-size: 20px;
    }
    i{
      position: absolute;
      top:15px;
      right: 15px;
      cursor: pointer;
    }
    button{
      border-radius: 20px;
      background-color: #fff;
      color: #3b5b99;
      border: 1.2px solid #3b5b99;
      width: fit-content;
      padding: 7px 20px;
      text-align: center;
      margin:30px;
      margin-top:10px;
      &:hover{
        background-color: #3b5b99;
        color: white;
      }
    }
  }
  
}
