<div class="ngayChieu animated fadeIn pt-3" *ngIf="!status">
    <div class="d-flex">
        <img class="img" [src]="img2D" alt="">

        <div>
            <ng-container *ngFor="let item of movieTimer">
                <a *ngFor="let lichChieu of item.lstLichChieuTheoPhim" (click)="DatVe(lichChieu.maLichChieu)">
                    <ng-contaner *ngIf="item.maPhim === event">
                        {{lichChieu.ngayChieuGioChieu | date: 'HH:mm'}}
                    </ng-contaner>
                </a>
            </ng-container>
        </div>
    </div>
</div>