.ngayChieu {
    font-family: "SF Medium";
    float: left;
    font-size: 22px;
    font-weight: 400;
    transition: all 0.2s;
    a {
        color: #417500;
        cursor: pointer;
        text-decoration: none;
        &:hover {
            color: #fb4226;
        }
    }
}