<div class="container animated fadeIn delay-1s">
  <div class="row">
    <div class="col-5 mx-auto">
      <form #formLogin="ngForm" (submit)="_handleOnSignIn(formLogin)">
        <h4>Đăng Nhập</h4>
        <div class="form-group">
          <label for="">Tài Khoản</label>
          <input type="text" name="taiKhoan" ngModel class="form-control">
        </div>
        <div class="form-group">
          <label for="">Mật Khẩu</label>
          <input type="text" name="matKhau" ngModel class="form-control">
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-success">Đăng nhập</button>
          <button class="btn btn-success" (click)="dangKy()">Đăng Ký</button>
        </div>
      </form>
    </div>
  </div>
</div>