<section class="movie-carousel">
  <!--black layer-->
  <div class="overlay"></div>
  <div class="bg-item active" style="background-image: url('../../../assets/img/bg6.jpg')"></div>
  <div class="movie-carousel__content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ng-container *ngIf="mangPhim">
            <div class="carousel__content">
              <div class="content">
                <ng-container *ngFor="let phim of mangPhim | slice: 2:14; let i = index">
                  <div [ngClass]="{ active: i === vitri }" class="item">
                    <h1>{{ phim.tenPhim }}</h1>
                    <p>{{ phim.moTa }}</p>
                    <button class="btn" (click)="chiTiet()">
                      Chi tiết
                    </button>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="col-md-6">
          <ng-container *ngIf="mangPhim">
            <div class="carousel carousel__items">
              <ng-container *ngFor="let phim of mangPhim | slice: 2:14; let i = index">
                <div class="carousel-item item" [ngClass]="{ active: i === vitri }" (click)="onCarousel(i, phim)">
                  <img [src]="phim.hinhAnh" alt="" />
                  <div class="item__overlay">
                    <div class="play">
                      <a class="video-venobox" data-autoplay="true" data-vbtype="video" [href]="phim.trailer">
                        <i class="fa fa-play-circle"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>