<mat-form-field style="width: 100%">
  <mat-label>Suất chiếu</mat-label>
  <mat-select #select (selectionChange)="chonGio(select)">
    <ng-container *ngIf="mangGio.length > 0">
      <mat-option *ngFor="let item of mangGio" [value]="item.ngayChieuGioChieu">
        {{ item.ngayChieuGioChieu | date: "HH:mm" }}
      </mat-option>
    </ng-container>
    <ng-container *ngIf="mangGio.length === 0">
      <mat-option>Vui lòng chọn phim,rạp và ngày</mat-option>
    </ng-container>
  </mat-select>
</mat-form-field>
